---
- name: Setup Homelab services
  hosts: all

  vars:
    user_name: "{{ lookup('env', 'USER_NAME') }}"
    home_dir: "/home/{{ user_name }}"

  tasks:
    - name: Containers
      become_user: "{{ user_name }}"

      block:
        - name: Create Services folder
          ansible.builtin.file:
            path: "{{ home_dir }}/services"
            state: directory
            mode: "0755"

        - name: Immich
          block:
            - name: Create docker container files
              ansible.builtin.file:
                path: "{{ home_dir }}/services/immich"
                state: directory
                mode: "0755"

            - name: Copy Immich Docker Compose File
              ansible.builtin.copy:
                src: ./compose/immich/compose.yaml
                dest: "{{ home_dir }}/services/immich/compose.yaml"
                owner: "{{ user_name }}"

            - name: Copy Tailscale file
              ansible.builtin.copy:
                src: ./compose/immich/tailscale.json
                dest: "{{ home_dir }}/services/immich/tailscale.json"

        - name: Glance
          block:
            - name: Create docker container file
              ansible.builtin.file:
                path: "{{ home_dir }}/services/glance"
                state: directory
                mode: "0755"

            - name: Copy Glance compose file
              ansible.builtin.copy:
                src: ./compose/glance/compose.yaml
                dest: "{{ home_dir }}/services/glance/compose.yaml"
                owner: "{{ user_name }}"

            - name: Copy Tailscale file
              ansible.builtin.copy:
                src: ./compose/glance/tailscale.json
                dest: "{{ home_dir }}/services/glance/tailscale.json"
                owner: "{{ user_name }}"

        - name: Forgejo
          block:
            - name: Copy Forgejo Docker compose file
              ansible.builtin.copy:
                src: ./compose/forgejo/compose.yaml
                dest: "{{ home_dir }}/services/forgejo/compose.yaml"
                owner: "{{ user_name }}"

            - name: Copy Tailscale file
              ansible.builtin.copy:
                src: ./compose/forgejo/tailscale.json
                dest: "{{ home_dir }}/services/forgejo/tailscale.json"
                owner: " {{ user_name }}"
