* {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  /*font-family: "Hack Nerd Font Mono";*/
}

#waybar {
  background-color: transparent;
  color: #ffffff;
}

.modules-right {
  background-color: rgba(102, 35, 168, 0.3);
  border-radius: 99999px;
}

.modules-left {
  background-color: rgba(102, 35, 168, 0.3);
  border-radius: 99999px;
  min-width: 0px;
}

#cpu {
  margin-right: 10px;
}

#battery {
  margin-right: 10px;
}

#pulseaudio {
  margin-right: 10px;
}
