---
- name: Setup Fedora Workstation Environment
  hosts: localhost
  connection: local
  become: yes

  vars:
    user_name: "anonymous"
    home_dir: "/home/{{ user_name }}"

  tasks:
    - name: Ensure all packages are up to date
      ansible.builtin.dnf5:
        name: "*"
        state: latest
        update_cache: yes

    - name: Install ansible plugins
      become: yes
      ansible.builtin.package:
        name: dnf-plugins-core
        state: present

    - name: Setup User
      ansible.builtin.user:
        name: "{{ user_name }}"
        state: present

    - name: Enable COPR Repos
      block:
        - name: Enable COPR
          community.general.copr:
            state: enabled
            name: dejan/lazygit

        - name: Enable COPR for yazi
          community.general.copr:
            state: enabled
            name: lihaohong/yazi

        - name: Update Package Cache
          ansible.builtin.dnf5:
            update_cache: yes

    - name: Install core packages
      ansible.builtin.dnf5:
        name:
          - zsh
          - tmux
          - neovim
          - fzf
          - restic
          - fd-find
          - lazygit
          - duf
          - bat
          - stow
          - yazi
        state: present

    - name: Setup ZSH and the default shell
      block:
        - name: Change user shell to zsh
          ansible.builtin.user:
            name: "{{ user_name }}"
            shell: /usr/bin/zsh

        - name: Install ZAP Plugin Manager
          become_user: "{{ user_name }}"
          ansible.builtin.shell: |
            zsh <(curl -s https://raw.githubusercontent.com/zap-zsh/zap/master/install.zsh) --branch release-v1
          args:
            executable: usr/bin/zsh
            creates: "{{ home_dir }}/.local/share/zap"

        - name: Remove old .zshrc files
          become_user: "{{ user_name }}"
          ansible.builtin.file:
            path: "{{ home_dir }}./zshrc"
            state: absent

    - name: Curl/Script Based Installation
      block:
        - name: Install Ollama
          ansible.builtin.shell: |
            curl -fsSL https://ollama.com/install.sh | sh
          args:
            creates: /usr/local/bin/ollama

        - name: Install LazyDocker
          ansible.builtin.shell: |
            curl https://raw.githubusercontent.com/jesseduffield/lazydocker/master/scripts/install_update_linux.sh | bash
          environment:
            DIR: /usr/local/bin
          args:
            creates: /usr/local/bin/lazydocker

        - name: Install eza
          ansible.builtin.shell: |
            curl -L https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz | tar xz
            chmod +x eza
            mv eza /usr/local/bin/eza
          args:
            creates: /usr/local/bin/eza

        - name: Install Spicetify Reminder!
          ansible.builtin.debug:
            msg: "Run: wget -c https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz -O - | tar xz"

    - name: Tmux Plugin Manager
      block:
        - name: Install TPM
          ansible.builtin.git:
            repo: https://github.com/tmux-plugins/tmp
            dest: "{{ home_dir }}/.tmux/plugins/tpm"

    - name: Link and Post Installation
      block:
        - name: Stow Files
          become_user: " {{ home_dir }}"
          ansible.builtin.shell: |
            cd {{ home_dir }}/dotfiles && stow .
          args:
            chdir: "{{ home_dir }}/dotfiles"
          when: ansible.builtin.stat(path="{{ home_dir }}/dotfiles").stat.exists

        - name: Add profile.zsh to shell
          become_user: " {{ home_dir }}"
          ansible.builtin.shell: |
            if [ -f "$HOME/profile.zsh" ]; then
              echo 'profile.zsh' >> .zshrc
              source "$HOME/profile.zsh"
            fi

        - name: Display Complete
          ansible.builtin.debug:
            msg: |
              Installation Complete!
