---
- name: Setup Fedora Workstation Environment
  hosts: all
  become: yes

  vars:
    user_name: "{{ lookup('env', 'USER_NAME') }}"
    user_password: "{{ lookup('env', 'PASSWORD') | password_hash('sha512') }}"
    home_dir: "/home/{{ user_name }}"

  tasks:
    - name: Setup User
      ansible.builtin.user:
        name: "{{ user_name }}"
        password: "{{ user_password }}"
        state: present

    - name: Create Ansible remote_tmp directory
      become_user: "{{ user_name }}"
      ansible.builtin.file:
        path: "{{ home_dir }}/.ansible/tmp"
        state: directory
        mode: "0755"
        owner: "{{ user_name }}"
        group: "{{ user_name }}"

    - name: Ensure all packages are up to date
      ansible.builtin.dnf5:
        name: "*"
        state: latest
        update_cache: yes

    - name: Install ansible plugins
      become: yes
      ansible.builtin.package:
        name: dnf-plugins-core
        state: present

    - name: Enable COPR Repos
      block:
        - name: Enable COPR
          community.general.copr:
            state: enabled
            name: dejan/lazygit

        - name: Enable COPR for yazi
          community.general.copr:
            state: enabled
            name: lihaohong/yazi

        - name: Update Package Cache
          ansible.builtin.dnf5:
            update_cache: yes

    - name: Install core packages
      ansible.builtin.dnf5:
        name:
          - zsh
          - tmux
          - neovim
          - fzf
          - restic
          - fd-find
          - lazygit
          - duf
          - bat
          - stow
          - yazi
          - unzip
          - ansible
          - python3-passlib
        state: present

    - name: Setup ZSH and the default shell
      block:
        - name: Change user shell to zsh
          ansible.builtin.user:
            name: "{{ user_name }}"
            shell: /usr/bin/zsh

        - name: Install ZAP Plugin Manager
          become_user: "{{ user_name }}"
          ansible.builtin.shell: |
            zsh <(curl -s https://raw.githubusercontent.com/zap-zsh/zap/master/install.zsh) --branch release-v1
          args:
            executable: /usr/bin/zsh
            creates: "{{ home_dir }}/.local/share/zap"

        - name: Remove old .zshrc files
          become_user: "{{ user_name }}"
          ansible.builtin.file:
            path: "{{ home_dir }}./zshrc"
            state: absent

    - name: Curl/Script Based Installation
      become: true
      block:
        - name: Install Ollama
          ansible.builtin.shell: |
            curl -fsSL https://ollama.com/install.sh | sh

        - name: Install LazyDocker
          ansible.builtin.shell: |
            cd /tmp && curl https://raw.githubusercontent.com/jesseduffield/lazydocker/master/scripts/install_update_linux.sh | bash
          environment:
            DIR: /usr/local/bin

        - name: Install eza
          ansible.builtin.shell: |
            cd /tmp && curl -L https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz | tar xz
            chmod +x eza
            mv eza /usr/local/bin/eza

        - name: Install Opencode
          become_user: "{{ user_name }}"
          ansible.builtin.shell: |
            cd /tmp && curl -fsSL https://opencode.ai/install | bash

        - name: Install Spicetify Reminder!
          ansible.builtin.debug:
            msg: "Run: curl -fsSL https://raw.githubusercontent.com/spicetify/cli/main/install.sh | sh"

        - name: Install TV Fuzzy Find
          ansible.builtin.shell: |
            cd /tmp && curl -fsSL https://alexpasmantier.github.io/television/install.sh | bash

        - name: Install CSV Lens
          ansible.builtin.shell: |
            cd /tmp && curl -fsSL https://github.com/YS-L/csvlens/releases/download/v0.14.0/csvlens-x86_64-unknown-linux-gnu.tar.xz | tar -xJ --strip-components=1
            chmod +x csvlens
            mv csvlens /usr/local/bin/csvlens

    - name: Tmux Plugin Manager
      block:
        - name: Install TPM
          become_user: "{{ user_name }}"
          ansible.builtin.git:
            repo: https://github.com/tmux-plugins/tpm
            dest: "{{ home_dir }}/.tmux/plugins/tpm"

    - name: Link and Post Installation
      block:
        - name: Download dotfiles repo if we have not
          become_user: "{{ user_name }}"
          ansible.builtin.git:
            repo: https://github.com/linkupgames/dotfiles
            dest: "{{ home_dir }}/dotfiles"

        - name: Check if dotfiles directory exists
          ansible.builtin.stat:
            path: "{{ home_dir }}/dotfiles"
          register: dotfiles_exists

        - name: Stow Files
          become_user: "{{ user_name }}"
          ansible.builtin.shell: |
            cd {{ home_dir }}/dotfiles && stow .
          args:
            chdir: "{{ home_dir }}/dotfiles"
          when: dotfiles_exists.stat.exists

        - name: Add profile.zsh to shell
          become_user: "{{ user_name }}"
          ansible.builtin.lineinfile:
            path: "{{ home_dir }}/.zshrc"
            line: 'source "$HOME/profile.zsh"'
            create: yes

        - name: Display Complete
          ansible.builtin.debug:
            msg: |
              Installation Complete!
